Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  script:
  - docker build --pull -t $LINT_REF -f .gitlab-ci/Dockerfile.ucslint --build-arg ucs=$ucs packaging/ucslint
  - docker push $LINT_REF

push ucslint:
  stage: prepare
  needs:
  - job: prepare ucslint
  variables:
    GIT_STRATEGY: none
  script:
  - docker pull $LINT_REF
  - docker tag $LINT_REF $LINT_UCS
  - docker push $LINT_UCS

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

fixup! Bug #47609: Generate template for a large scale ucs@school primary
  test/scenarios/kvm-templates/schoolprimary-with-100000-users-kvm-template.cfg
Due: none

Bug #25916: Advisory YAML
  doc/errata/staging/univention-radius.yaml
Due: none

Bug #54483: Add UCR variables for cookie attributes "Secure" and "SameSite".
  doc/errata/staging/simplesamlphp.yaml
  doc/errata/staging/univention-saml.yaml
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/debian/changelog
  saml/univention-saml/debian/univention-saml.univention-config-registry
  saml/univention-saml/debian/univention-saml.univention-config-registry-variables
Due: deb-pipeline

Bug #54293: moved conf files
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/id-broker/README.md
  test/utils/id-broker/clients.yml
  test/utils/id-broker/hosts.ini
  test/utils/id-broker/idps.yml
  test/utils/id-broker/keycloak_ProxyPass.conf.example
  test/utils/id-broker/univention-test-app.conf
  test/utils/id-broker/univention-vhosts.conf.example
Due: none

Bug #54483: yaml
  doc/errata/staging/univention-saml.yaml
Due: none

Bug #47609: Add users and groups in their default containers
  test/utils/200.000-users.py
Due: none

doc: Fix Python API documentation
  base/univention-python/modules/uldap.py
  management/univention-directory-listener/python/univention/listener/handler.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-management-console/src/univention/management/console/modules/sanitizers.py
  management/univention-management-console/src/univention/management/console/protocol/server.py
  management/univention-management-console/src/univention/management/console/protocol/session.py
  packaging/ucslint/univention/ucslint/0015-FuzzyNames.py
  test/jenkins-analyse/jenkinsapi/job.py
  test/ucs-test/univention/testing/udm.py
Due: prepare ucslint, push ucslint, deb-pipeline

Bug #54381: fix exception handling in Python 3
  test/ucs-test/tests/60_umc/10_error_code_for_requests
Due: deb-pipeline

Bug #52881: Fix spelling error in German Quickstart Guide
  doc/quickstart/index.rst
  doc/quickstart/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

Bug #27547: fix Python API documentation
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/objects.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

doc[UMC]: Update Python documentation strings
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

style[UMC]: Test for initialized variables
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

fix[UMC]: sockets work with bytes
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

perf[UMC]: Drop unneeded .keys()
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

WIP[UMC]: Document broken return type
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

doc[UMC]: Add PEP-484 type hints
  management/univention-management-console/debian/control
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

perf[UMC]: Check list for non-empty
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

style[UMC]: Initialize all instance variables
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

doc[UMC]: Fix sock parameter description
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

style[UMC]: socket.setblocking(bool)
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

style[UMC]: Build FQHN from UCR
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

refactor[UMC]: Rename socket to sock
  management/univention-management-console/src/univention/management/console/protocol/server.py
Due: deb-pipeline

Bug #54682: Option --debug-stderr has been removed from ldb-tools
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/univention-adsearch
Due: deb-pipeline

Bug #54293: change issuer + jwk_url in config
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
Due: none

Bug #54588: Fix wrong ssh description. Add --no-split option before password file.
  base/univention-ssh/debian/changelog
  base/univention-ssh/univention-ssh.in
  doc/errata/staging/univention-ssh.yaml
Due: deb-pipeline

Bug #54588: update YAML for univention-ssh
  doc/errata/staging/univention-ssh.yaml
Due: none

Bug #51772: make error handling of corrupted files in directory logger more robust
  doc/errata/staging/univention-directory-logger.yaml
  management/univention-directory-logger/debian/changelog
  management/univention-directory-logger/directory_logger.py
  test/ucs-test/tests/10_ldap/120_directory_logger.py
Due: deb-pipeline

Bug #51772: update YAML for univention-directory-logger
  doc/errata/staging/univention-directory-logger.yaml
Due: none

Bug #54685: Extend portal documentation
  doc/manual/central-management-umc-de.xml
  doc/manual/central-management-umc/portal.rst
  doc/manual/domain-ldap-de.xml
  doc/manual/domain-ldap/saml.rst
Due: doc-pipeline

Bug #54685: Fix typos
  doc/manual/domain-ldap/saml.rst
Due: doc-pipeline

Bug #54685: Manual: Add UCR variable definition to appendix
  doc/manual/appendix/variables.rst
Due: doc-pipeline

fixup! Bug #54685: Manual: Add UCR variable definition to appendix
  doc/manual/appendix/variables.rst
Due: doc-pipeline

Bug #54718: Add portal section to 5.0-0 changelog, translation
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #54718: Fix links to English UCS manual
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

fixup! Bug #48652: added check for group membership attribute consistency
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/63_proof_uniqueMembers.py
Due: deb-pipeline

fixup! Bug #48652: yaml
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
Due: none

Bug #54731: firefox-esr ANNOUNCE
  doc/errata/published/2022-05-11_1234_firefox-esr.yaml
Due: none

Bug #54732: smarty3 ANNOUNCE
  doc/errata/published/2022-05-11_1235_smarty3.yaml
Due: none

Bug #54730: firefox-esr ANNOUNCE
  doc/errata/published/2022-05-11_303_firefox-esr.yaml
Due: none

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
