Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*

fixup! Bug #38762: add additional handling for MultiObjectSelect
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

Bug #54481: added new option for the docker image to use during installation
  test/scenarios/autotest-241-ucsschool-kelvin-API.cfg
  test/utils/utils-school.sh
  test/utils/utils.sh
Due: none

Bug #48652 fixup2: yaml
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
Due: none

Add update tests
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
Due: none

Bug #33255: refactoring of univention-join line parser for read out of joinscript output.
  management/univention-join/debian/changelog
  management/univention-join/umc/python/join/__init__.py
Due: deb-pipeline

Bug #33255: yaml version bump
  doc/errata/staging/univention-join.yaml
Due: none

Bug #54807: atftp ANNOUNCE
  doc/errata/published/2022-06-01_1244_atftp.yaml
Due: none

Bug #54795: univention-directory-notifier ANNOUNCE
  doc/errata/published/2022-06-01_1249_univention-directory-notifier.yaml
Due: none

Bug #54804: smarty3 ANNOUNCE
  doc/errata/published/2022-06-01_1248_smarty3.yaml
Due: none

Bug #53647,Bug #54803: cups ANNOUNCE
  doc/errata/published/2022-06-01_1245_cups.yaml
Due: none

Bug #54806: dpkg ANNOUNCE
  doc/errata/published/2022-06-01_1246_dpkg.yaml
Due: none

Bug #54805: python-django ANNOUNCE
  doc/errata/published/2022-06-01_1247_python-django.yaml
Due: none

Bug #52758: univention-ldb-modules ANNOUNCE
  doc/errata/published/2022-06-01_1250_univention-ldb-modules.yaml
Due: none

Bug #54047: univention-lib ANNOUNCE
  doc/errata/published/2022-06-01_323_univention-lib.yaml
Due: none

Bug #54794: univention-directory-notifier ANNOUNCE
  doc/errata/published/2022-06-01_321_univention-directory-notifier.yaml
Due: none

Bug #54809: rsyslog ANNOUNCE
  doc/errata/published/2022-06-01_320_rsyslog.yaml
Due: none

Bug #54768: univention-ldb-modules ANNOUNCE
  doc/errata/published/2022-06-01_322_univention-ldb-modules.yaml
Due: none

Bug #54808: cups ANNOUNCE
  doc/errata/published/2022-06-01_318_cups.yaml
Due: none

Bug #54810: dpkg ANNOUNCE
  doc/errata/published/2022-06-01_319_dpkg.yaml
Due: none

Bug #48652,Bug #54675: univention-management-console-module-diagnostic ANNOUNCE
  doc/errata/published/2022-06-01_324_univention-management-console-module-diagnostic.yaml
Due: none

Bug #33255: reduce line length in yaml.
  doc/errata/staging/univention-join.yaml
Due: none

fix[usi]: Migrate to Python 3
  doc/errata/staging/univention-support-info.yaml
  services/univention-support-info/debian/changelog
  services/univention-support-info/debian/compat
  services/univention-support-info/debian/control
  services/univention-support-info/univention-support-info
Due: deb-pipeline

Bug #53358: univention-support-info 6.0.0-3A~5.0.0.202206011905
  doc/errata/staging/univention-support-info.yaml
Due: none

Bug #54536: Transform German translation for introduction
  doc/manual/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

Bug #54536: Add basic infrastructure for translation
  doc/manual/conf.py
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  doc/manual/locales/de/LC_MESSAGES/computers.po
  doc/manual/locales/de/LC_MESSAGES/contents.po
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
  doc/manual/locales/de/LC_MESSAGES/groups.po
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
  doc/manual/locales/de/LC_MESSAGES/index.po
  doc/manual/locales/de/LC_MESSAGES/installation.po
  doc/manual/locales/de/LC_MESSAGES/ip-config.po
  doc/manual/locales/de/LC_MESSAGES/mail.po
  doc/manual/locales/de/LC_MESSAGES/monitoring.po
  doc/manual/locales/de/LC_MESSAGES/print-services.po
  doc/manual/locales/de/LC_MESSAGES/shares.po
  doc/manual/locales/de/LC_MESSAGES/software.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/locales/de/LC_MESSAGES/windows.po
Due: doc-pipeline

Bug #54536: Transform German translation for monitoring
  doc/manual/locales/de/LC_MESSAGES/monitoring.po
  doc/manual/monitoring/nagios.rst
Due: doc-pipeline

Bug #54536: Transform German translation for IDM cloud services
  doc/manual/appendix/variables.rst
  doc/manual/conf.py
  doc/manual/idm-cloud/google.rst
  doc/manual/idm-cloud/office-365.rst
  doc/manual/links-de.txt
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
Due: doc-pipeline

Bug #54536: Remove header comments from review translations
  doc/manual/locales/de/LC_MESSAGES/contents.po
  doc/manual/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

Bug #54536: Transform German translation for shares
  doc/manual/locales/de/LC_MESSAGES/shares.po
  doc/manual/shares/quota.rst
  doc/manual/shares/umc.rst
Due: doc-pipeline

Bug #54536: Transform German translation for mail
  doc/manual/locales/de/LC_MESSAGES/mail.po
  doc/manual/mail/index.rst
Due: doc-pipeline

Bug #54536: Transform German translation for user-management
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/user-management/index.rst
  doc/manual/user-management/last-bind-overlay.rst
  doc/manual/user-management/password-settings-windows-clients.rst
  doc/manual/user-management/umc.rst
  doc/manual/user-management/user-lockout.rst
  doc/manual/user-management/user-self-service.rst
Due: doc-pipeline

Bug #54536: Transform German translation for installation
  doc/manual/installation.rst
  doc/manual/locales/de/LC_MESSAGES/installation.po
Due: doc-pipeline

Bug #54536: Add colon after chapter contents caption
  doc/manual/appendix/index.rst
  doc/manual/central-management-umc/index.rst
  doc/manual/computers/index.rst
  doc/manual/domain-ldap/index.rst
  doc/manual/idm-cloud/index.rst
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
  doc/manual/locales/de/LC_MESSAGES/monitoring.po
  doc/manual/mail/index.rst
  doc/manual/monitoring/index.rst
  doc/manual/shares/index.rst
  doc/manual/software/index.rst
  doc/manual/user-management/index.rst
  doc/manual/windows/index.rst
Due: doc-pipeline

Bug #54536: Transform German translatio for software
  doc/manual/locales/de/LC_MESSAGES/software.po
  doc/manual/software/app-center.rst
  doc/manual/software/index.rst
  doc/manual/software/updates.rst
Due: doc-pipeline

Bug #54536: Transform German translation for print services
  doc/manual/appendix/variables.rst
  doc/manual/locales/de/LC_MESSAGES/print-services.po
  doc/manual/print-services/group.rst
  doc/manual/print-services/index.rst
  doc/manual/print-services/share.rst
  doc/manual/print-services/windows-clients.rst
Due: doc-pipeline

Bug #54536: Transform German translation for groups
  doc/manual/groups.rst
  doc/manual/locales/de/LC_MESSAGES/groups.po
Due: doc-pipeline

Bug #54536: Pipeline: Sphinx linkcheck needs to fail when warnings occur
  .gitlab-ci/base-doc.yml
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/manual/conf.py
  doc/quickstart/conf.py
Due: doc-pipeline

Bug #54536: Transform German translation for windows
  doc/manual/appendix/variables.rst
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/windows/ad-connection.rst
  doc/manual/windows/ad-takeover.rst
  doc/manual/windows/samba-domain.rst
Due: doc-pipeline

Bug #54536: Transform German translation for domain-ldap
  doc/manual/appendix/variables.rst
  doc/manual/domain-ldap/admin-diary.rst
  doc/manual/domain-ldap/backup2master.rst
  doc/manual/domain-ldap/domain-join.rst
  doc/manual/domain-ldap/ldap-directory.rst
  doc/manual/domain-ldap/listener-notifier.rst
  doc/manual/domain-ldap/oidc.rst
  doc/manual/domain-ldap/password-hashes.rst
  doc/manual/domain-ldap/saml.rst
  doc/manual/domain-ldap/system-roles.rst
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
Due: doc-pipeline

Bug #54536: Use dedicated German substitutions
  doc/manual/conf.py
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/substitutions-de.txt
Due: doc-pipeline
