Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*

Bug #54556: Adjust test to new portal
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_selenium/185_portal_administration_inline_creation
Due: deb-pipeline

Bug #54556: Link help article in YAML
  doc/errata/staging/univention-self-service.yaml
Due: none

doc[VNC]: Add PEP-484 type hints
  test/utils/installation_test/appliance-vnc-setup.py
  test/utils/installation_test/installation.py
Due: none

doc[VNC]: Add --help texts
  test/utils/installation_test/appliance-vnc-setup.py
  test/utils/installation_test/vnc-install-ucs.py
Due: none

fix[VNC]: Get FQHN from args
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

fix[VNC]: self.client.mouseClickOnText
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

fix[test]: Pass through REPOSITORY_SERVER
  test/utils/start-test.sh
Due: none

Bug #54293: id broker performance tests
  test/scenarios/autotest-247-ucsschool-id-broker-perf.cfg
Due: none

fixup! Bug #54438: New UDM Rest call "service-specific-password"
  management/univention-directory-manager-rest/src/univention/admin/rest/de.po
Due: deb-pipeline

Bug #54556: Tiny URL in YAML
  doc/errata/staging/univention-self-service.yaml
Due: none

Bug #54578: [grep_traceback]: ignore traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Bug #54566: bind9 ANNOUNCE
  doc/errata/published/2022-03-23_1205_bind9.yaml
Due: none

Bug #54561: univention-group-membership-cache ANNOUNCE
  doc/errata/published/2022-03-23_1207_univention-group-membership-cache.yaml
Due: none

Bug #54569: libgit2 ANNOUNCE
  doc/errata/published/2022-03-23_1206_libgit2.yaml
Due: none

Bug #54570: usbredir ANNOUNCE
  doc/errata/published/2022-03-23_1208_usbredir.yaml
Due: none

Use docker for start-test.sh per default in UCS 5.0
  test/utils/start-test.sh
Due: none

Bug #54562: univention-appcenter ANNOUNCE
  doc/errata/published/2022-03-23_253_univention-appcenter.yaml
Due: none

Bug #54573: bind9 ANNOUNCE
  doc/errata/published/2022-03-23_252_bind9.yaml
Due: none

Bug #54572: univention-group-membership-cache ANNOUNCE
  doc/errata/published/2022-03-23_254_univention-group-membership-cache.yaml
Due: none

Bug #54395: univention-ldap ANNOUNCE
  doc/errata/published/2022-03-23_255_univention-ldap.yaml
Due: none

Bug #54063,Bug #54438: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2022-03-23_257_univention-directory-manager-rest.yaml
Due: none

Bug #54409: univention-radius ANNOUNCE
  doc/errata/published/2022-03-23_256_univention-radius.yaml
Due: none

Bug #16966,Bug #52292,Bug #53581,Bug #53975,Bug #54085,Bug #54150,Bug #54402,Bug #54438: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2022-03-23_259_univention-directory-manager-modules.yaml
Due: none

Bug #51354,Bug #54555: univention-python ANNOUNCE
  doc/errata/published/2022-03-23_258_univention-python.yaml
Due: none

Bug #54556: univention-saml ANNOUNCE
  doc/errata/published/2022-03-23_260_univention-saml.yaml
Due: none

Bug #48960,Bug #54434,Bug #54556: univention-self-service ANNOUNCE
  doc/errata/published/2022-03-23_261_univention-self-service.yaml
Due: none

Bug #54556: univention-portal ANNOUNCE
  doc/errata/published/2022-03-23_262_univention-portal.yaml
Due: none

Bug #53919 DVD: UCS-4.4-9 DVD
  base/univention-dvd/data/ucs449/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs449/amd64_udeb_include
  base/univention-dvd/data/ucs449/exclude-udebs
  base/univention-dvd/data/ucs449/exclude-udebs-amd64
  base/univention-dvd/data/ucs449/exclude-udebs-i386
  base/univention-dvd/data/ucs449/grub-theme.in
  base/univention-dvd/data/ucs449/i386_netinst_udeb_include
  base/univention-dvd/data/ucs449/i386_udeb_include
  base/univention-dvd/data/ucs449/udeb_exclude
  base/univention-dvd/data/ucs449/udeb_include
  base/univention-dvd/debian/changelog
  base/univention-dvd/tasks/ucs449/empty
  base/univention-dvd/tasks/ucs449/exclude
  base/univention-dvd/tasks/ucs449/forcd1
  base/univention-dvd/tasks/ucs449/task-ucs449
  base/univention-dvd/tools/boot/ucs449/boot-amd64
  base/univention-dvd/tools/boot/ucs449/boot-i386
  base/univention-dvd/tools/boot/ucs449/boot-x86
  base/univention-dvd/tools/boot/ucs449/common.sh
  base/univention-dvd/tools/boot/ucs449/parse_isolinux
  base/univention-dvd/tools/boot/ucs449/x86-desktop.sh
  base/univention-dvd/tools/ucs449
  base/univention-dvd/ucs449.conf
Due: deb-pipeline

Bug #53912: Update links from UCS 4.4-8 to UCS 4.4-9
  .gitlab-ci/base.yml
  services/univention-net-installer/TEMPLATE
  services/univention-net-installer/debian/changelog
  test/branch-tests/run.sh
  test/utils/start-test.sh
Due: deb-pipeline

feat[up] Adapt links and components for 4.4-9
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/script/postup.sh
Due: deb-pipeline

Bug #54580: apache2 2.4.25-3+deb9u13A~4.4.9.202203231446
  doc/errata/staging/apache2.yaml
Due: none

Bug #54581: paramiko 2.0.0-1+deb9u2
  doc/errata/staging/paramiko.yaml
Due: none

Bug #54487: Fixup changelog
  management/univention-directory-manager-modules/debian/changelog
Due: deb-pipeline

fix[errata]: Unmaintained Debian Security Updates
  doc/changelog/changelog-4.4-9.xml
Due: doc-pipeline

feat[grub]: Disable apparmor
  base/univention-grub/conffiles/etc/default/grub
  base/univention-grub/debian/changelog
Due: deb-pipeline

feat[linux]: Update to linux-4.19.208-1
  kernel/univention-kernel-image/debian/changelog
  kernel/univention-kernel-image/debian/rules
Due: deb-pipeline

feat[linux]: Update to linux-4.19.232-1
  kernel/univention-kernel-image/debian/changelog
  kernel/univention-kernel-image/debian/rules
Due: deb-pipeline
