Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  script:
  - docker build --pull -t $LINT_REF -f .gitlab-ci/Dockerfile.ucslint --build-arg ucs=$ucs packaging/ucslint
  - docker push $LINT_REF

push ucslint:
  stage: prepare
  needs:
  - job: prepare ucslint
  variables:
    GIT_STRATEGY: none
  script:
  - docker pull $LINT_REF
  - docker tag $LINT_REF $LINT_UCS
  - docker push $LINT_UCS

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #38762,Bug #52760,Bug #53843,Bug #54467,Bug #54617,Bug #54663,Bug #54769: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2022-06-08_335_univention-directory-manager-modules.yaml
Due: none

Bug #38762: univention-self-service ANNOUNCE
  doc/errata/published/2022-06-08_336_univention-self-service.yaml
Due: none

Bug #54831: avahi ANNOUNCE
  doc/errata/published/2022-06-08_1251_avahi.yaml
Due: none

Bug #54835: ffmpeg ANNOUNCE
  doc/errata/published/2022-06-08_1253_ffmpeg.yaml
Due: none

Bug #54820: clamav ANNOUNCE
  doc/errata/published/2022-06-08_1252_clamav.yaml
Due: none

Bug #54823: firefox-esr ANNOUNCE
  doc/errata/published/2022-06-08_1254_firefox-esr.yaml
Due: none

Bug #54822: libdbi-perl ANNOUNCE
  doc/errata/published/2022-06-08_1256_libdbi-perl.yaml
Due: none

Bug #54824: glib2.0 ANNOUNCE
  doc/errata/published/2022-06-08_1255_glib2.0.yaml
Due: none

Bug #54826: libjpeg-turbo ANNOUNCE
  doc/errata/published/2022-06-08_1257_libjpeg-turbo.yaml
Due: none

Bug #54827: pjproject ANNOUNCE
  doc/errata/published/2022-06-08_1258_pjproject.yaml
Due: none

Bug #54825: pypdf2 ANNOUNCE
  doc/errata/published/2022-06-08_1259_pypdf2.yaml
Due: none

Revert "Bug #54669: use app configuration to determine if app uses compose"
  doc/errata/staging/univention-appcenter.yaml
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter/app.py
Due: deb-pipeline

Bug #43775: skip test, it destroys the ID mapping for Administrator
  test/ucs-test/tests/51_samba4/66test_school_replica_acls.py
Due: deb-pipeline

Bug #25916: wait_for_drs_replication does not work on removal
  test/ucs-test/tests/45_radius/13_vlanid.py
Due: deb-pipeline

Bug #50324: o365 jenkins job update to 4.4-9
  test/product-tests/component/office365.cfg
Due: none

[portal]: Implement OIDC authentication
  management/univention-portal/debian/control
  management/univention-portal/debian/univention-portal.postinst
  management/univention-portal/debian/univention-portal.univention-config-registry
  management/univention-portal/debian/univention-portal.univention-config-registry-variables
  management/univention-portal/python/univention/portal/extensions/authenticator.py
  management/univention-portal/univention-portal-server
Due: deb-pipeline

Bug #54847: YAML
  doc/errata/staging/python-retrying.yaml
Due: none

Bug #54849: fix error resolving dependencies of UDM_Attributes based syntax classes
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #54849: Yaml
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

fixup! Bug #54849: Yaml
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #54850: Use the same substitions in all documents
  doc/app-center/conf.py
  doc/app-center/substitutions.txt
  doc/manual/conf.py
  doc/substitutions-de.txt
  doc/substitutions.txt
Due: doc-pipeline

Bug #54850: Use directory prefix
  doc/ext-networks/Makefile
  doc/ext-networks/_static/univention_logo.pdf
  doc/ext-networks/conf.py
  doc/ext-networks/index.rst
  doc/ext-networks/networks-5.0.html
Due: doc-pipeline

Bug #54850: Add redirect map
  doc/networks/networks-5.0.html
Due: doc-pipeline

Bug #54850: Transform extentended ip and network management
  doc/networks/Makefile
  doc/networks/_static/univention_logo.pdf
  doc/networks/conf.py
  doc/networks/index.rst
Due: doc-pipeline

Bug #54850: Adjust dirs in mapping after directory change
  doc/ext-networks/networks-5.0.html
Due: doc-pipeline

Bug #54850: Rename pdf build target to match link patterns
  doc/ext-networks/conf.py
Due: doc-pipeline

Bug #54854: vlc 3.0.12-0+deb9u1
  doc/errata/staging/vlc.yaml
Due: none

Bug #54857: ntfs-3g 1:2017.3.23AR.3-3+deb10u2
  doc/errata/staging/ntfs-3g.yaml
Due: none

YAML Bug #54460
  doc/errata/staging/univention-appcenter.yaml
Due: none

Bug #54856: Fix regression
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/40_samba_tool_dbcheck.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/63_proof_uniqueMembers.py
Due: deb-pipeline

Bug #54742: Warning about expiring key: Reduce time to action from 5 years to 4 years
  test/ucs-test/debian/changelog
  test/ucs-test/tests/00_checks/03_check_release_signature_do_not_ignore_me
Due: deb-pipeline

Bug #51772: Delete redundant try catch
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: fix lint issues
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: rename file when is a wrong file
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: Add try/except block for catch unknown errors
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: move the file deletion to just execute it when is value error or correct parsing
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: Print exception on unknown exception
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: Add QA sugestion
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #51772: Add YAML File
  doc/errata/staging/univention-directory-logger.yaml
Due: none

Bug #51772: update changelog
  management/univention-directory-logger/debian/changelog
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
