Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  script:
  - docker build --pull -t $LINT_REF -f .gitlab-ci/Dockerfile.ucslint --build-arg ucs=$ucs packaging/ucslint
  - docker push $LINT_REF

push ucslint:
  stage: prepare
  needs:
  - job: prepare ucslint
  variables:
    GIT_STRATEGY: none
  script:
  - docker pull $LINT_REF
  - docker tag $LINT_REF $LINT_UCS
  - docker push $LINT_UCS

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #54293: wait for id connector replication
  test/utils/utils-school-idbroker.sh
Due: none

Bug #54293: rename ansible script
  test/utils/utils-school-idbroker.sh
Due: none

doc[UDL]: Fix handler signature
  doc/developer-reference/listener/listener.xml
  doc/developer-reference/listener/modrdn.py
  doc/developer-reference/listener/printusers/printusers.py
  doc/developer-reference/listener/simple.py
Due: doc-pipeline

doc[UDL]: fix missing closing bracket in function signatures
  doc/developer-reference/listener/listener.xml
Due: doc-pipeline

Bug #54402: Handle univentionUserTemplates in udm module groups/group correctly
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/group.py
Due: deb-pipeline

doc[UDL]: Fix handler signature 2
  doc/developer-reference/listener/modrdn.py
  doc/developer-reference/listener/obj.py
  doc/developer-reference/listener/simple.py
  management/univention-directory-listener/examples/listener_module_template.py
Due: doc-pipeline, deb-pipeline

Bug #54504: Explicitly set replication.py priority to 0.0 in listener module
  management/univention-directory-replication/debian/changelog
  management/univention-directory-replication/replication.py
Due: deb-pipeline

Bug #54504: Remove wrong code for replication.py priority
  management/univention-directory-listener/debian/changelog
  management/univention-directory-listener/src/handlers.c
Due: deb-pipeline

Bug #54402: yaml
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #54504: yaml
  doc/errata/staging/univention-directory-listener.yaml
  doc/errata/staging/univention-directory-replication.yaml
Due: none

Bug #54381: migrate all tests to Python 3
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #54381: add test sections to third party modules
  .isort.cfg
Due: none

Bug #54381: set failing tests back to Python 2
  test/ucs-test/tests/40_mail/29_mail_related_modifications_of_user_objects
  test/ucs-test/tests/60_umc/10_error_code_for_requests
  test/ucs-test/tests/60_umc/80_udm_license
  test/ucs-test/tests/66_udm-computers/54_concurrent_rename_and_group_change
Due: deb-pipeline

Bug #50756: display links of failed diagnostic plugins also in univention-run-diagnostic-checks
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/univention-run-diagnostic-checks
Due: deb-pipeline

Bug #50756: yaml
  doc/errata/published/2022-02-16_225_univention-management-console-module-diagnostic.yaml
Due: none

fixup! Bug #54381: [ucs-test] migrate tests to Python 3
  test/ucs-test/tests/10_ldap/69resync_object
Due: deb-pipeline

fixup! Bug #54381: [ucs-test] migrate tests to Python 3
  test/ucs-test/tests/40_mail/essential/mail.py
Due: deb-pipeline

Bug #54382: fix strict byte mode errors
  test/ucs-test/tests/04_univention-lib/001_check_atjobs
  test/ucs-test/tests/10_ldap/42replication_memberof
  test/ucs-test/tests/45_radius/02_eap_test
  test/ucs-test/tests/45_radius/04_login_with_hostaccount
  test/ucs-test/tests/45_radius/10_clients_univention_conf_integration
  test/ucs-test/tests/61_udm-users/01_test_udm_users.py
  test/ucs-test/tests/63_udm-containers/01_test_udm_containers.py
  test/ucs-test/tests/66_udm-computers/02_all_roles_creation_with_all_attributes
  test/ucs-test/tests/66_udm-computers/31_all_roles_creation_set_network
  test/ucs-test/tests/82_saml/samltest.py
Due: deb-pipeline

Bug #53357: fix shell quoting of command line arguments
  services/univention-squid/basic_ldap_auth_encoding_wrapper
  services/univention-squid/conffiles/etc/squid/squid.conf
Due: deb-pipeline

Bug #53357: migrate univention-squid to Python 3
  doc/errata/staging/univention-squid.yaml
  services/univention-squid/basic_ldap_auth_encoding_wrapper
  services/univention-squid/debian/changelog
  services/univention-squid/debian/control
  services/univention-squid/squid_ldap_ntlm_auth
Due: deb-pipeline

Bug #54085: fix moving of users/ldap objects
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/ldap.py
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline

Bug #54306: make it possible to allow only TLS 1.3
  doc/errata/staging/univention-apache.yaml
  services/univention-apache/conffiles/etc/apache2/mods-available/ssl.conf
  services/univention-apache/debian/changelog
  services/univention-apache/debian/univention-apache.univention-config-registry
  services/univention-apache/debian/univention-apache.univention-config-registry-variables
  test/ucs-test/tests/23_apache/20_ssl-protocols
Due: deb-pipeline

fixup! Bug #54085: fix moving of users/ldap objects
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline

Bug #54306: re-add Python 2 compatibility
  services/univention-apache/conffiles/etc/apache2/mods-available/ssl.conf
Due: deb-pipeline

Bug #54067: Add samba debug
  test/ucs-test/tests/52_s4connector/270read_ad_move_user
Due: deb-pipeline

Bug #54510: cyrus-sasl2 2.1.27~101-g0780600+dfsg-3+deb9u2
  doc/errata/staging/cyrus-sasl2.yaml
Due: none

Bug #54511: tiff 4.0.8-2+deb9u8
  doc/errata/staging/tiff.yaml
Due: none

Bug #54512: firefox-esr 91.6.1esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #54487: memberUid attribute missing when update uniquemember on LDAP group
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/group.py
Due: deb-pipeline

Bug #54487: ucs test validation for uniquemember modification attribute
  test/ucs-test/debian/changelog
  test/ucs-test/tests/62_udm-groups/24_group_modify_uniquemember.py
Due: deb-pipeline

Bug #54487: Advisory update
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

strict bytes
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

appcenter strict bytes
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
Due: deb-pipeline

changelog
  management/univention-appcenter/debian/changelog
  management/univention-directory-manager-modules/debian/changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #54381: start Python 3 with -u -bb
  test/ucs-test/univention/testing/data.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
