Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*

Bug #54947: fix authentication when reloading metrics
  monitoring/univention-monitoring-client/monitoring-client.py
Due: deb-pipeline

Bug #54985: fix unassigning monitoringAlerts from computer objects
  monitoring/univention-monitoring-client/src/univention/admin/hooks.d/monitoring.py
Due: deb-pipeline

Bug #54947: add upgrade code
  monitoring/univention-monitoring-client/30univention-monitoring-client.inst
  monitoring/univention-monitoring-client/31univention-monitoring-ad-connector.inst
  monitoring/univention-monitoring-client/31univention-monitoring-cups.inst
  monitoring/univention-monitoring-client/31univention-monitoring-opsi.inst
  monitoring/univention-monitoring-client/31univention-monitoring-raid.inst
  monitoring/univention-monitoring-client/31univention-monitoring-s4-connector.inst
  monitoring/univention-monitoring-client/31univention-monitoring-samba.inst
  monitoring/univention-monitoring-client/31univention-monitoring-smart.inst
  monitoring/univention-monitoring-client/31univention-monitoring-squid.inst
Due: deb-pipeline

ci: Switch to merge-request pipeline
  .gitlab-ci.yml
  .gitlab-ci/build-ci
Due: none

YAML Bug #54947, Bug #54985
  doc/errata/staging/univention-monitoring-client.yaml
  monitoring/univention-monitoring-client/debian/changelog
Due: deb-pipeline

ci: Add CODEWONERS
  .gitlab/CODEOWNERS
Due: none

Bug #54994: Advisories
  doc/errata/staging/ldb.yaml
  doc/errata/staging/samba.yaml
Due: none

Bug #55004: Update Google Workspace documentation
  doc/manual/idm-cloud/google.rst
  doc/manual/images/google_wizard1-de.png
  doc/manual/images/google_wizard1.png
Due: doc-pipeline

Bug #54947: remove alert config when unassigning all hosts
  monitoring/univention-monitoring-client/monitoring-client.py
Due: deb-pipeline

doc[release]: 5.0-0 repo/online/comp/$comp/unmaintained
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

YAML Bug #54947
  doc/errata/staging/univention-monitoring-client.yaml
Due: none

fixup! Issue #775: fix school update
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
Due: none

Bug #55010: fix password hash comparision
  doc/errata/staging/univention-portal.yaml
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/authenticator.py
Due: deb-pipeline

Bug #55010: fix normalization of username
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/authenticator.py
Due: deb-pipeline

Bug #54994: Advisory update
  doc/errata/staging/ldb.yaml
  doc/errata/staging/samba.yaml
Due: none

Bug #54994: Advisory
  doc/errata/staging/univention-ldb-modules.yaml
Due: none

Bug #54273: fix advisory
  doc/errata/staging/univention-portal.yaml
Due: none

Bug #38762: added unittest for udm admin module syntax
  test/ucs-test/debian/changelog
  test/ucs-test/tests/61_udm-users/63_test_udm_users_syntax.py
  test/ucs-test/tests/62_udm-groups/63_test_udm_groups_syntax.py
Due: deb-pipeline

Bug #54664: Let univention-register-network-address do the retries
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

Bug #54664: use univention.lib.umc instead of umc-command
  base/univention-network-manager/debian/changelog
  base/univention-network-manager/debian/control
  base/univention-network-manager/debian/univention-network-common.init
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

Bug #54664: make univention-network-common unit wait for UMC-web-server
  base/univention-network-manager/debian/changelog
  base/univention-network-manager/debian/univention-network-common.init
Due: deb-pipeline

Bug #54664: YAML
  doc/errata/staging/univention-network-manager.yaml
Due: none

Bug #54664 update Advisory
  doc/errata/staging/univention-network-manager.yaml
Due: none

Bug #54273: yaml
  doc/errata/staging/univention-server.yaml
Due: none

Bug #54947,Bug #54985: univention-monitoring-client ANNOUNCE
  doc/errata/published/2022-07-20_353_univention-monitoring-client.yaml
Due: none

Bug #44669: univention-saml ANNOUNCE
  doc/errata/published/2022-07-20_354_univention-saml.yaml
Due: none

Bug #53227: univention-self-service ANNOUNCE
  doc/errata/published/2022-07-20_355_univention-self-service.yaml
Due: none

Bug #54273: univention-server ANNOUNCE
  doc/errata/published/2022-07-20_356_univention-server.yaml
Due: none

Bug #54273: univention-samba4 ANNOUNCE
  doc/errata/published/2022-07-20_357_univention-samba4.yaml
Due: none

Bug #54273: univention-s4-connector ANNOUNCE
  doc/errata/published/2022-07-20_358_univention-s4-connector.yaml
Due: none

Bug #54273: univention-postgresql ANNOUNCE
  doc/errata/published/2022-07-20_359_univention-postgresql.yaml
Due: none

Bug #54273: univention-bind ANNOUNCE
  doc/errata/published/2022-07-20_361_univention-bind.yaml
Due: none

Bug #54273: univention-dhcp ANNOUNCE
  doc/errata/published/2022-07-20_360_univention-dhcp.yaml
Due: none

Bug #54273: univention-admin-diary ANNOUNCE
  doc/errata/published/2022-07-20_362_univention-admin-diary.yaml
Due: none

Bug #54273: univention-pam ANNOUNCE
  doc/errata/published/2022-07-20_363_univention-pam.yaml
Due: none

Bug #54273: univention-mail-postfix ANNOUNCE
  doc/errata/published/2022-07-20_364_univention-mail-postfix.yaml
Due: none

Bug #54273: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2022-07-20_365_univention-directory-manager-rest.yaml
Due: none

Bug #54273: univention-squid ANNOUNCE
  doc/errata/published/2022-07-20_366_univention-squid.yaml
Due: none

Bug #38762: added unittest for udm admin modules properties syntax
  management/univention-directory-manager-modules/unittest/conftest.py
  management/univention-directory-manager-modules/unittest/test_widget_syntax.py
Due: deb-pipeline
