Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, push ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  script:
  - docker build --pull -t $LINT_REF -f .gitlab-ci/Dockerfile.ucslint --build-arg ucs=$ucs packaging/ucslint
  - docker push $LINT_REF

push ucslint:
  stage: prepare
  needs:
  - job: prepare ucslint
  variables:
    GIT_STRATEGY: none
  script:
  - docker pull $LINT_REF
  - docker tag $LINT_REF $LINT_UCS
  - docker push $LINT_UCS

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #38762: added unittest for udm admin modules properties syntax
  management/univention-directory-manager-modules/unittest/conftest.py
  management/univention-directory-manager-modules/unittest/test_widget_syntax.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/61_udm-users/63_test_udm_users_syntax.py
  test/ucs-test/tests/62_udm-groups/63_test_udm_groups_syntax.py
Due: deb-pipeline

fixup! Bug #38762: added unittest for udm admin modules properties syntax
  management/univention-directory-manager-modules/unittest/test_widget_syntax.py
Due: deb-pipeline

Bug #55017: fix check_univention_ntp in error conditions
  doc/errata/staging/univention-monitoring-client.yaml
  monitoring/univention-monitoring-client/alerts/check_univention_ntp
  monitoring/univention-monitoring-client/debian/changelog
Due: deb-pipeline

Issue #13: use BUILD_USER_ID
  test/scenarios/veyon/start-kvm.sh
  test/utils/id-broker/start-kvm.sh
  test/utils/ucsschool-start-multiserver-env.sh
  test/utils/ucsschool-start-singleserver-env.sh
Due: none

fixup! Bug #38762: added unittest for udm admin modules properties syntax
  management/univention-directory-manager-modules/unittest/conftest.py
  management/univention-directory-manager-modules/unittest/test_widget_syntax.py
Due: deb-pipeline

Bug #55023: gsasl 1.8.0-8+deb10u1
  doc/errata/staging/gsasl.yaml
Due: none

Bug #53538: [ucs-test] 72_udm-extensions merged test section into one file
  test/ucs-test/tests/72_udm-extensions/01_register_deregister_via_joinscript.py
  test/ucs-test/tests/72_udm-extensions/02_register_deregister_via_postinst.py
  test/ucs-test/tests/72_udm-extensions/03_register_and_verify_ldap_object.py
  test/ucs-test/tests/72_udm-extensions/04_register_and_verify_test_app_id.py
  test/ucs-test/tests/72_udm-extensions/05_register_and_verify_version_start_end.py
  test/ucs-test/tests/72_udm-extensions/06_register_with_non_join_accounts.py
  test/ucs-test/tests/72_udm-extensions/07_register_and_verify_all.py
  test/ucs-test/tests/72_udm-extensions/08_register_with_special_name_and_verify_all.py
  test/ucs-test/tests/72_udm-extensions/10_update_extension_via_package.py
  test/ucs-test/tests/72_udm-extensions/11_update_extension_via_package_expected_fail.py
  test/ucs-test/tests/72_udm-extensions/12_update_extension_via_other_packagename.py
  test/ucs-test/tests/72_udm-extensions/20_create_via_udm_cli.py
  test/ucs-test/tests/72_udm-extensions/21_listener_version_start_end.py
  test/ucs-test/tests/72_udm-extensions/22_listener_version_change.py
  test/ucs-test/tests/72_udm-extensions/23_rename_object.py
  test/ucs-test/tests/72_udm-extensions/24_update_packageversion.py
  test/ucs-test/tests/72_udm-extensions/25_listener_check_active.py
  test/ucs-test/tests/72_udm-extensions/26_create_with_invalid_ucsversions.py
  test/ucs-test/tests/72_udm-extensions/30_file_integrity.py
  test/ucs-test/tests/72_udm-extensions/31_filename_attack.py
  test/ucs-test/tests/72_udm-extensions/32_file_integrity_udm_module.py
  test/ucs-test/tests/72_udm-extensions/33_umcmessagecatalog.py
  test/ucs-test/tests/72_udm-extensions/40_keep_but_dont_activate_py2_only_udm_hook.py
  test/ucs-test/tests/72_udm-extensions/40_remove_py2_only_udm_hook.py
  test/ucs-test/tests/72_udm-extensions/40_test_py2_and_3_udm_hook.py
  test/ucs-test/tests/72_udm-extensions/40_test_py3_only_udm_hook.py
  test/ucs-test/tests/72_udm-extensions/41_keep_but_dont_activate_py2_only_udm_module.py
  test/ucs-test/tests/72_udm-extensions/41_remove_py2_only_udm_module.py
  test/ucs-test/tests/72_udm-extensions/41_test_py2_and_3_udm_module.py
  test/ucs-test/tests/72_udm-extensions/41_test_py3_only_udm_module.py
  test/ucs-test/tests/72_udm-extensions/42_keep_but_dont_activate_py2_only_udm_syntax.py
  test/ucs-test/tests/72_udm-extensions/42_remove_py2_only_udm_syntax.py
  test/ucs-test/tests/72_udm-extensions/42_test_py2_and_3_udm_syntax.py
  test/ucs-test/tests/72_udm-extensions/42_test_py3_only_udm_syntax.py
  test/ucs-test/tests/72_udm-extensions/72_test_udm_extensions.py
Due: deb-pipeline

Bug #53538: [ucs-test] merge 72_udm-extensions into pytest classes
  test/ucs-test/tests/72_udm-extensions/72_test_udm_extensions.py
Due: deb-pipeline

Bug #53538: chmod +x
  test/ucs-test/tests/72_udm-extensions/72_test_udm_extensions.py
Due: deb-pipeline

Bug #54697: sort SAN names by length
  base/univention-ssl/debian/changelog
  base/univention-ssl/make-certificates.sh
  doc/errata/staging/univention-ssl.yaml
Due: deb-pipeline

Bug #54932: Fix cron task, create errata and changelog
  base/univention-ssl/debian/changelog
  base/univention-ssl/debian/univention-ssl.cron.daily
  base/univention-ssl/debian/univention-ssl.postinst
  base/univention-ssl/extensions-example.sh
  base/univention-ssl/ssl-sync
  base/univention-ssl/tests/common.sh
  base/univention-ssl/tests/test_defaults
  base/univention-ssl/tests/test_host_expired
  base/univention-ssl/tests/test_host_fqdn
  base/univention-ssl/tests/test_host_hook
  base/univention-ssl/tests/test_host_invalid
  base/univention-ssl/tests/test_host_valid
  base/univention-ssl/tests/test_host_wildcard_valid
  base/univention-ssl/tests/test_init_invalid_c
  base/univention-ssl/tests/test_init_invalid_cn
  base/univention-ssl/tests/test_init_invalid_l
  base/univention-ssl/tests/test_init_invalid_o
  base/univention-ssl/tests/test_init_invalid_ou
  base/univention-ssl/tests/test_init_invalid_st
  base/univention-ssl/tests/test_init_valid
  base/univention-ssl/tests/test_role
  base/univention-ssl/tests/test_sign_req
  base/univention-ssl/univention-certificate
  doc/errata/staging/univention-ssl.yaml
Due: deb-pipeline

Bug #54994: Add dependency on specific samba-dsdb-modules version
  services/univention-samba4/debian/changelog
  services/univention-samba4/debian/control
Due: deb-pipeline

Bug #54994: yaml
  doc/errata/staging/univention-samba4.yaml
Due: none

Bug #54697, #54932: Update YAML for univention-ssl
  doc/errata/staging/univention-ssl.yaml
Due: none

Bug #54995: Advisories
  doc/errata/staging/ldb.yaml
  doc/errata/staging/samba.yaml
  doc/errata/staging/univention-ldb-modules.yaml
Due: none

Bug #55017: fix german translation of UDM monitoring/alert
  doc/errata/staging/univention-monitoring-client.yaml
  monitoring/univention-monitoring-client/src/univention/admin/handlers/monitoring/alert.py
  monitoring/univention-monitoring-client/src/univention/admin/handlers/monitoring/de.po
Due: deb-pipeline

fixup! Bug #54882: fix crash on univention-l10n if called without arguments
  doc/errata/staging/univention-l10n.yaml
Due: none

Bug #54697: univention-ssl 14.0.2-5A~5.0.0.202207251753
  doc/errata/staging/univention-ssl.yaml
Due: none

Bug #54988: Diagnostic module crash due to duplicate decode
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/40_samba_tool_dbcheck.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/63_proof_uniqueMembers.py
Due: deb-pipeline

Bug #54988: yaml
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
Due: none

Bug #55018: Fix broken redirects for quickstart
  doc/quickstart/quickstart-de-5.0.html
  doc/quickstart/quickstart-en-5.0.html
Due: doc-pipeline

Bug #55018: Fix broken redirects for performance guide
  doc/ext-performance/performance-guide-5.0.html
Due: doc-pipeline

Bug #55018: Fix broken redirects for app provider docs
  doc/app-center/app-provider-5.0.html
Due: doc-pipeline

Bug #55018: Update rsync exclude for Sphinx build artifacts
  doc/pipeline-rsync-exclude.txt
Due: none

Bug #55018: Fix broken redirects for extended windows integration
  doc/ext-windows/windows-5.0.html
Due: doc-pipeline

Bug #55018: Fix broken redirects for UCS manual
  doc/manual/central-management-umc/http-api-domain-management.rst
  doc/manual/handbuch-5.0.html
  doc/manual/manual-5.0.html
Due: doc-pipeline

Bug #54994: Fix 38_printer_special_chars
  test/ucs-test/debian/changelog
  test/ucs-test/tests/53_samba-common/36_printer
  test/ucs-test/tests/53_samba-common/38_printer_special_chars
Due: deb-pipeline

Bug #54381: Use strong passord for test user creation
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/105_change_expired_password_fail_reason.py
Due: deb-pipeline

Bug #54941: Rename to images directory
  doc/developer-reference/images/ListenerNotifier.graphml
  doc/developer-reference/images/ListenerNotifier.png
  doc/developer-reference/images/umc-api.svg
Due: doc-pipeline

Bug #54941: Add Sphinx docs structure
  doc/developer-reference/Makefile
  doc/developer-reference/conf.py
Due: doc-pipeline

Bug #54941: Transform chapters foreword and appendix/bug-report
  doc/developer-reference/appendix/bug.rst
  doc/developer-reference/appendix/index.rst
  doc/developer-reference/appendix/indices.rst
  doc/developer-reference/contents.rst
  doc/developer-reference/index.rst
Due: doc-pipeline

Bug #54941: Transform chapter misc
  doc/developer-reference/contents.rst
  doc/developer-reference/misc.rst
Due: doc-pipeline

Bug #54941: Transform chapter ldap
  doc/developer-reference/contents.rst
  doc/developer-reference/ldap.rst
Due: doc-pipeline

Bug #54941: Transform chapter app center
  doc/developer-reference/app-center.rst
  doc/developer-reference/conf.py
  doc/developer-reference/contents.rst
Due: doc-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  push ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
